name: Desktop Build & Release

on:
  workflow_dispatch:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  build:
    name: Build
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            platform: windows
            output: SimpleLive-Windows.zip
          - os: macos-latest
            platform: macos
            output: SimpleLive-MacOS.zip
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      - name: Enable Desktop Support
        run: flutter config --enable-${{ matrix.platform }}-desktop

      - name: Install Dependencies
        run: |
          cd simple_live_core && flutter pub get
          cd ../simple_live_app && flutter pub get

      - name: Build App
        run: |
          cd simple_live_app
          flutter build ${{ matrix.platform }} --release
        shell: bash

      - name: Archive Artifact (Windows)
        if: matrix.platform == 'windows'
        run: |
          cd simple_live_app/build/windows/x64/runner/Release/
          powershell "Compress-Archive -Path ./* -DestinationPath ../../../../../${{ matrix.output }} -Force"
        shell: bash

      - name: Archive Artifact (MacOS)
        if: matrix.platform == 'macos'
        run: |
          # 使用 ditto 创建压缩包以保留 MacOS 权限和符号链接
          cd simple_live_app/build/macos/Build/Products/Release/
          ditto -c -k --sequesterRsrc --keepParent *.app ../../../../../${{ matrix.output }}
        shell: bash

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}-build
          path: ${{ matrix.output }}

  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest-build
          name: Latest Automated Build
          body: |
            Latest desktop builds for Windows and MacOS.
            - Windows: Unzip and run .exe
            - MacOS: Unzip and move to Applications
          files: |
            ./artifacts/windows-build/SimpleLive-Windows.zip
            ./artifacts/macos-build/SimpleLive-MacOS.zip
          prerelease: true
          generate_release_notes: true
          fail_on_unmatched_files: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
