name: Sync Upstream

on:
  schedule:
    - cron: '0 0 * * *' # 每天凌晨同步一次
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: master
      - name: Sync Upstream
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh repo sync shallowwang/dart_simple_live --source xiaoyaocz/dart_simple_live --force
